{% extends 'base.html' %}

{% block title %} Contact me {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <span class="heading-meta">Contact</span>
        <h2 class="heading">Get in touch</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row contact-row">
        <div class="col-xl-7">
            <p>
                Interested in hiring me for your project or looking to connect?
                Reach out through any of the channels below.
            </p>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <i class="fa-solid fa-envelope fa-lg"></i>
                    <a href="mailto:rick.arko17@gmail.com">rick.arko17@gmail.com</a>
                </li>
                <li class="mb-3">
                    <i class="bi bi-linkedin fa-lg"></i>
                    <a target="_blank" href="https://www.linkedin.com/in/rickarko">LinkedIn</a>
                </li>
                <li class="mb-3">
                    <i class="bi bi-github fa-lg"></i>
                    <a target="_blank" href="https://github.com/RickArko">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
