<nav id="sidebar" class = "active">

    <div class="sidebar-header">
        <img class="rounded-circle profile-img" src="/static/images/profile-image.png">
<a class="name" href="/"> Rick Arko </a>
<p class="profession"> Turning data into scalable solutions. </p>
        <div class="row">
            <ul class="list-unstyled social-sidebar">
            <li><a target="_blank" href="https://github.com/RickArko"> <i class="bi bi-github fa-lg"></i> </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/rickarko"> <i class="bi bi-linkedin fa-lg"></i> </a></li>
            </ul>
        </div>
    </div>
    <hr class="sidebar-hr">
    <ul class="list-unstyled">
        <li><a class="" href="/home/" id="home"> Home </a></li>
        <li><a class="" href="/experience/" id="experience"> Experience </a></li>
        <li><a class="" href="/projects/" id="projects"> Projects </a></li>
        <!-- <li><a class="" href="/contact/" id="contact"> Contact </a></li> -->
    </ul>
    <hr class="sidebar-hr">

</nav>